.tripImage {
  width: cover;
}

.card {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #141414;
  /*border-radius: 10px;*/
  margin: 0px auto;
  font-weight: light;
  font-size: 13px;
  overflow: hidden;
  cursor: pointer;
}

.location {
  position: relative;
  /*left: 15px;*/
  top: 250px;
  /*width: 90%;*/
  /*max-height: 15px;*/
  overflow: hidden;
  /*font-weight: bold;*/
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  text-align: left;
  font-weight: light;
  font-size: 20px;
}

.duration {
  position: relative;
  right: 10px;
  top: 210px;
  /*height: 125px;*/
  /*width: 90%;*/
  color: white;
  text-align: right;
}

.estimatedCost {
  position: relative;
  right: 10px;
  top: 210px;
  /*height: 125px;*/
  /*width: 90%;*/
  color: white;
  text-align: right;
}

#mask {
  position: fixed;
  display: none;
  opacity: .8;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
}

.close-btn {
  background-color: #fff;
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.poster {
 width: 100%;
 height: 360px;
 background-size: cover;
 position: absolute;
 background-repeat: no-repeat;
 top: 0;
}
.lightbox {
  position: fixed;
  left:38%;
  top: 50px;
  width: 100%;
  height: 520px;
  margin: 0 0 0 -37.5%;
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: sans-serif;
  font-weight: lighter;
  transform: translateY(-365px);
  transition: transform 750ms;
}

#lightbox-container #checkList-container #budgetList-container #trip-container #bucketList-container{
  display: none;
}